.ab[rend="align-center"] {
    display: block;
    text-align: center;
}

*[rend="strikethrough"] {
    text-decoration: line-through;
}

*[rend="overwritten"] {
    font-weight: bold;
}

*[rend="underline"] {
    text-decoration: underline;
}

*[rend="italic"] {
    font-style: italic;
}

*[rend="erasure"] {
    background-color: rgb(70, 70, 70);
}

*[rend="cross"] {
    text-decoration: line-through;
}

*[rend="line_full_width"] {
    margin-bottom: 0.1rem;
    border-bottom: 1px solid black;
    display: block;
}

*[rend="sup"] {
    vertical-align: text-bottom;
}

*[place="superscript"] {
    vertical-align: text-bottom;
}

.metamark[rend="line"] {
    display: block;
    border: 1px solid black;
    margin-top:-1em;
    margin-right:70%;
}

.fw {
    display: block;
}

[type="pageNum"][place="top_right"] {
    float:right;
    margin-top: -1.5rem;
}

evt-reading evt-note,
evt-addition evt-note {
  display: none;
}
/* 1. Reset: togliamo il nero di default di EVT */
.evt-span.underline, 
.evt-span.entity-highlight {
    text-decoration: none !important;
    border-bottom: 3px solid currentColor !important;
}

/* 2. Forza i colori basandoti sull'ordine dei bottoni (Se i type falliscono) */
/* Cerca di colpire il colore che EVT inietta nello stile inline */

/* Se il bordo è nero o grigio scuro, lo forziamo a diventare ROSSO */
.evt-span.underline[style*="border-bottom-color"],
.evt-span.entity-highlight {
    border-bottom-color: #FF5252 !important; 
    color: #FF5252 !important;
}

/* 3. Il trucco del cursore: almeno l'utente capisce che è cliccabile */
.evt-span[id] {
    cursor: pointer !important;
}

/* 4. Stile per il pop-up (almeno questo deve essere bello!) */
.info-rdg .witness-label {
    color: #1976D2 !important;
    font-weight: bold;
}
.info-rdg [type="substantive"] {
    color: #FF5252 !important;
}
